<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header">
<head><title>Edit Product</title></head>

<body>

    <nav th:replace="fragments/adminNavbar :: admin-navigation"></nav>

    <div class="container">

        <h2>Product Details</h2>
        <div>
            <!-- <form class="form-horizontal" th:object="${product}" th:action="@{/product}" method="post"> -->
            <form class="form-horizontal" th:action="@{/edit/submit}" th:object="${product}" method="PUT">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p th:text="#{form.hasErrors}">Error Message</p>
                </div>

                <input type="hidden" th:field="*{Id}"/>

                <!-- Name START -->
                <div class="form-group" th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-2 control-label">Name: :</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
                <!-- Name Stop -->

                <!-- Price START -->
                <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-2 control-label">Price:</label>
                    <div class="col-sm-10">
                        <input type="number" min="0" max="9999999" step="0.01" class="form-control" th:field="*{price}" th:errorclass="has-error"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
                <!-- price STOP -->


                <!-- summary START -->
                <div class="form-group" th:class="${#fields.hasErrors('summary')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-2 control-label">Summary:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{summary}" th:errorclass="has-error"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('summary')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
                <!-- summary STOP -->

                <!-- description START -->
                <div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-2 control-label">Description:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div>
                <!-- description STOP -->

                <!-- image Start -->
                <div class="form-group" th:class="${#fields.hasErrors('image')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-2 control-label">Image:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{image}" th:errorclass="has-error"/>
                    </div>
                    <span class="help-block">
                        <ul>
                           <li th:each="err : ${#fields.errors('image')}" th:text="${err}" />
                        </ul>
                    </span>
                </div>
                <!-- image END -->


                <!-- Catalog assignments -->
                <!-- <select th:field="*{profile}">
                    <option th:each="profile : ${allProfiles}" th:value="${profile}" th:text="${profile}">Profile</option>
                </select>  -->

                <!-- <div class="form-group" th:class="${#fields.hasErrors('imageUrl')} ? 'form-group has-error' : 'form-group'">
                    <label class="col-sm-2 control-label">Image Url:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{imageUrl}" th:errorclass="has-error"/>

                        <span class="help-block">
                           <ul>
                               <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}" />
                           </ul>
                        </span>
                    </div>
                </div> -->
                <div class="row">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
