<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>
<head><title>Review Product</title></head>

</head>

<body>
    <nav th:replace="fragments/navbar :: navigation"></nav>
    <div class="container">
        <h2>Product Review</h2>
        <br>
        <form class="form-horizontal"> <!-- add a th:action and a th:object-->
            <label for="cars">Rating (1-5): </label>
            <select name="productRating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <br><br>
            <p>Reason:</p>
            <textarea name="comment" rows="4" cols="50"></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>
