<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!-- header fragment -->
    <head th:insert="fragments/header :: header"></head>

    <body>

        <div class="container" th:fragment="footer">
            <hr>
            <div class="row" id="footer">
                <div class="col-sm-3">
                    <a href="/"><h4>Home</h4></a>
                </div>
                <div class="col-sm-3">
                    <a href="#"><h4>Company</h4></a>

                </div>
                <div class="col-sm-3">
                    <a href="#"><h4>My Account</h4></a>
                </div>
                <div class="col-sm-3">
                    <a href="/admin/"><h4>Admin</h4></a>
                </div>
            </div>
        </div>

    </body>
</html>
