#page {
  height: 100vh;
  width: 100vw;
  touch-action: none;
}

.spacing {
  width: 100vw;
  height: 8vh;
}

#content {
  width: 100vw;
  height: 75vh;
}

#footer {
  width: 100vw;
  height: 5vh;
}

#image {
  min-width: 400px;
  min-height: 400px;
  width: 30vw;
  height: 30vh;
}
#searh {
  text-align: center;
}

#addToCart {
  float: right;
}

#tableForSpacing {
  width: 100%;
}

#tableForSpacing td {
  width: 50%;
  text-align: center;
}
