<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <!-- <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script> -->

    <!-- <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/> -->
</head>
<body>
<div class="container">

    <h2>Category Details</h2>
    <div>
        <form class="form-group" action="#" th:action="@{/category/new}" th:object="${category}" method="POST">


            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <p th:text="#{form.hasErrors}">Error Message</p>
            </div>

            <input type="hidden" th:field="*{Id}"/>

            <div class="form-group row"th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                <label for="name" class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                </div>
                <span class="help-block">
                   <ul>
                       <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                   </ul>
                </span>
            </div>


            <div class="form-group row"th:class="${#fields.hasErrors('parent')} ? 'form-group has-error' : 'form-group'">
                <label for="parent" class="col-sm-2 col-form-label">ParentId: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{parent}" th:errorclass="has-error"/>
                </div>
                <span class="help-block">
                   <ul>
                       <li th:each="err : ${#fields.errors('parent')}" th:text="${err}" />
                   </ul>
                </span>
            </div>

            <!-- <div class="form-group" th:class="${#fields.hasErrors('description')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Description:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{description}" th:errorclass="has-error"/>
                </div>
                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
                       </ul>
                    </span>
            </div> -->

            <!-- <div class="form-group" th:class="${#fields.hasErrors('price')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Price:</label>
                <div class="col-sm-10">
                    <input type="number" min="0" max="5000" step="0.01" class="form-control" th:field="*{price}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('price')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div> -->

            <!-- <div class="form-group" th:class="${#fields.hasErrors('isActive')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Active: :</label>
                <div class="col-sm-10">
                    <input type="radio" th:field="*{isActive}" value="true"/><label th:text="#{product.isActive.true}">M</label>
   	    	        <input type="radio" th:field="*{isActive}" value="false"/><label th:text="#{product.isActive.false}">F</label>
                   	<label th:if="${#fields.hasErrors('isActive')}" th:text="#{error.product.isActive}" th:class="'error'">Active Error</label>
                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('isActive')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div> -->

            <!-- Catalog assignments -->
            <!-- <select th:field="*{profile}">
                <option th:each="profile : ${allProfiles}" th:value="${profile}" th:text="${profile}">Profile</option>
            </select> -->

            <!-- <div class="form-group">
                <h4>Categories</h4>
                <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Parent</th>
                </tr>
                <tr th:each="cat : ${allCategories}">
                    <td th:text="${cat.id}"></td>
                    <td th:text="${cat.name}"></td>
                    <td th:text="${category.}"></td>

                </tr>
            </table>

            </div> -->

            <!-- <div class="form-group" th:class="${#fields.hasErrors('imageUrl')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Image Url:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{imageUrl}" th:errorclass="has-error"/>

                    <span class="help-block">
                       <ul>
                           <li th:each="err : ${#fields.errors('imageUrl')}" th:text="${err}" />
                       </ul>
                    </span>
                </div>
            </div> -->
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
