<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>
<head><title th:text="${category.name}"></title> </head>

<body>

    <!-- Navigation -->
    <nav th:replace="fragments/adminNavbar :: admin-navigation"></nav>

    <div class="container" id="content">

        <div class="row">
            <div class="spacing"></div>
            <!-- Left Content Start -->
            <div class="col-lg-4">
                <div class="w3-card-4">
                    <h2 th:text="${category.name}"></h2>
                    <br>
                    <h5>Parent Category:
                        <a th:href="${'/category/' + category.parent}"><span th:text="${parentCategory}"></span></a>
                    </h5>
                </div>

            </div>


            <!-- Right Content Start -->
            <div class="col-lg-8">

                <table class="table table-striped categoryTable">
                    <tr>
                        <th>Product Name</th>
                        <th>View</th>
                    </tr>

                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td><a th:href="${'/product/' + product.Id}">View</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>


</body>
</html>
