<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/header :: header"></head>
<head><title>Product List</title></head>

<body>

    <!-- Navigation -->
    <nav th:replace="fragments/adminNavbar :: admin-navigation"></nav>

    <div class="container" id="content">

        <div class="row">
            <!-- Left Content Start -->
            <div class="col-lg-6">
                <div class="w3-card-4">
                    <h2 th:text="${category.name}"></h2>
                </div>

            </div>


            <!-- Right Content Start -->
            <div class="col-lg-6">

                <table class="table table-striped">
                    <tr>
                        <th>Product Name</th>
                        <th>View</th>
                    </tr>
                    
                    <tr th:each="product : ${products}">
                        <td th:text="${product.name}"></td>
                        <td><a th:href="${'/product/' + product.Id}">View</a></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>


</body>
</html>
