<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <!-- <head th:insert="fragments/header :: header"> -->
    <head th:insert="fragments/header :: header">

       <!--<title>eCommerce</title>-->

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </head>
   <head>
      <title>eCommerce</title>
    </head>



<body>


<!-- Based off of the following templates -->
<!-- BootStrap template https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/index.html  -->


  <!-- templates/fragments/navbar.html -->
  <nav th:replace="fragments/navbar :: navigation"></nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- templates/fragments/catalog.html -->
      <div th:replace="fragments/catalog :: catalog"></div>

      <div class="col-lg-9">
        <h2 th:text="${heading}"></h2>
        <hr>
        <div class="row">

<!-- Builds all Products START -->
          <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${products}">
            <div class="card h-100">
              <a th:href="${'/product/' + product.id}"><img class="card-img-top" th:src="${product.image}"></a> <!-- product.image -->
              <div class="card-body">
                <h4 class="card-title">
                  <a th:href="${'/product/' + product.id}" th:text="${product.name}"></a>
                </h4>
                <h5 th:text="${product.price}"></h5>
                <p class="card-text" th:text="${product.summary}"></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              </div>
            </div>
          </div>
<!-- Builds all Products END -->


        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="fragments/footer :: footer"></div>


</body>

</html>
